{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}

<div class="container">
    <h3>Tic Tac Toe</h3>
    <form method="POST" action="">
      {% csrf_token %}
      <div class="form-control mb-2 mt-4 mx-auto">
        <label for="player" class="mr-2">Choose Opponent</label>
        <select class="form-select form-select-lg mb-2" id="player" name="player_name" aria-label="Select opponent for game">
          <option selected disabled>Choose player</option>
          {% for friend in friends_list %}
            <option value="{{ friend }}">{{ friend }}</option>
          {% endfor %} 
        </select>
      </div>

      <div class="form-control mb-2">
        <label for="character_choice" class="mr-2">Choose your character</label>
        <select for="character_choice" name="character_choice">
          <option value="X">X</option>
          <option value="O">O</option>
        </select>
      </div>
      <input type="submit" class="btn btn-outline-info mt-2" value="Start Game" />
    </form>
</div>

<script src="{% static 'scripts/game/gameCreate.js' %}"></script>

{% endblock %}  