{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div id="password-page" class="container">
        <h3>Change Password</h3> 

        <br>

        <form id="user_form" method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            
            {% if user_form.errors %}
            {{ user_form | as_crispy_errors }}
            <div class="alert alert-danger error-container">
            <p>Please check the signup form and try again.</p>
            </div>
            {% endif %}
            
            {{ form | crispy }}
            <br>
            <input type="submit" class="btn btn-outline-danger" name="submit" value="Reset Password" />
        
        </form>

    </br>
</div>
{% endblock %}



